
<div class="body__container">
  <div>
  <mat-toolbar color="primary">
      My Grocery List
  </mat-toolbar>

  <mat-card>
    <div class="my-font">
      <p>Include items in your grocery list by clicking "Add". Remove all items by clicking "Clear".</p>
    </div>
    <div>
      <mat-form-field>
        <div>
          <input matInput placeholder="Enter item" required [(ngModel)]="groceryItem">
        </div>
      </mat-form-field>

        <div>
          <button mat-raised-button color="primary" (click)="addItem()">Add</button>
          &nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="theme" (click)="clearItems()">Clear</button>
        </div>

        <div>
            <mat-selection-list>
                <mat-list-option *ngFor="let groceryItem of groceryItems">
                  {{groceryItem}}
                </mat-list-option>
            </mat-selection-list>
        </div>
   
    
    </div>
  </mat-card>
  </div>
</div>


